*{
    margin: 0;
    right: 0;
}
::-webkit-scrollbar{
    display: none;
}
html,.container{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.container{
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    scroll-snap-type:y mandatory;
}
header{
    width: 100%;
    position:sticky;
    left: 0;
    top: 0;
    background-color: transparent;
}
#logo{
    margin-top: 10px;
    width: 170px;
    height: 70px;
}
#menu,#Close{
    background-color: aliceblue;
    width: 33px;
    height: 33px;
    padding: 2px;
    position: absolute;
    border-radius: 4px;
    border: 2.7px solid rgb(156, 154, 154);
    top: 25px;
    float: right;
    margin-right: 10px;
}
#whitemode{
    background-color: aliceblue;
    padding: 4px;
    border-radius: 100%;
}
#darkmode{
    background-color: aliceblue;
    padding: 4px;
    border-radius: 100%;
    margin-left: 44%;
    display: none;
}
#Close{
    display: none;
}
#menuop{
list-style: none;
margin-left: 100%;
animation: move 2s ease;
display: none;
border-bottom: 2px solid aliceblue;
position: relative;
}
@keyframes move {
    from{margin-left: 100%;}
    to{margin-left: -32px;}
}
#menuop li{
    padding: 5px;
}
#menuop li a {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    top: 12px;
    font-size: 28px;
    font-family:cursive;
    font-weight: 550;
}
#Sub{
    background-color: #f0f8ff;
    padding:6px;
    font-size: 25px;
    font-family: cursive;
    text-decoration: none;
    color: black;
    position: absolute;
    border-radius: 4px;
    border: 2.7px solid rgb(156, 154, 154);
    top: 32px;
    float: right;
    margin-right: 10px;
    width:fit-content;
    display: none;
}
#Sub:hover{
    background-color: gold;
    color: aliceblue;
}
section{
    width: 100%;
    height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center; 
    scroll-snap-align:start;
}
.first{
    padding-top: 27%;
}
.img{
    height: 100px;
    width: 150px;
    border-radius: 3px;
}
.leftText h1{
    color: blanchedalmond;
    font-size: 90%;
    font-family: cursive;
}
.leftText #paragraph{
    font-size: 80%;
    font-family: cursive;
    color: aliceblue;
    width: 75%;
}
@media only screen and (min-width:240px){
    #logo{
        width: 110px;
        height: 40px;
        margin-left: -70px;
    }
    #menu,#Close{
        width: 23px;
        height: 23px;
        top: 17px;
        margin-right:18px;
    }
    #menuop{
       background-color:rgba(0, 0, 0, 0.527);
       margin-top:-15px;
    }
    .first{
        padding-top: 27%;
    }
    .img{
        height: 110px;
        width: 150px;
        border-radius: 3px;
    }
    .leftText h1{
        color: gold;
        font-size: 75%;
        font-family: cursive;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .first .leftText .paragraph{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .leftText #paragraph{
        font-size: 65%;
        font-family: cursive;
        color: aliceblue;
        padding-bottom: 7px;
        width: 75%;
        text-align: center;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .buttons .A,.B{
        width: 75px;
        height: 40px;
        border: none;
        font-family: cursive;
        font-weight: 600;
        border-radius: 5px;
    }
    .buttons .A{
        background-color: gold;
    }
    #Sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
    }
    #Sobre h2{
        padding-bottom: 12px;
        font-family: cursive;
        font-size: 10px;
    }
    .Carrosel{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
        width: 90%;
        overflow: hidden;
    }
    .Carrosel .card{
        border:1px solid gold;
        padding: 2%;
        border-radius: 12px;
        transform: translateX(262%);
        animation: turn 25s ease-in-out infinite;
    }
    @keyframes turn {
        0%{transform: translateX(262%);}
        5%{transform: translateX(262%);}
        10%{transform: translateX(262%);}
        15%{transform: translateX(262%);}
        20%{transform: translateX(134%);}
        25%{transform: translateX(134%);}
        30%{transform: translateX(134%);}
        35%{transform: translateX(134%);}
        40%{transform: translateX(1%);}
        45%{transform: translateX(1%);}
        50%{transform: translateX(1%);}
        55%{transform: translateX(1%);}
        60%{transform: translateX(-130%);}
        65%{transform: translateX(-130%);}
        70%{transform: translateX(-130%);}
        75%{transform: translateX(-130%);}
        80%{transform: translateX(-255%);}
        85%{transform: translateX(-255%);}
        90%{transform: translateX(-255%);}
        95%{transform: translateX(-255%);}
        100%{transform: translateX(262%);}
    }
    .Carrosel .card span{
        color: gold;
    }
    .Carrosel .card p{
        width: 125px;
        padding: 15px;
    }


}
@media only screen and (min-width:320px){
    #logo{
        width: 150px;
        height: 65px;
        margin-left: -100px;
    }
    #menu,#Close{
        width: 33px;
        height: 33px;
        top: 21px;
        margin-right: 25px;
    }
    .first{
        padding-bottom: 5%;
    }
    .img{
        height: 210px;
        width: 250px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 117%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 90%;
    text-align: left;
    width: 85%;
    text-align: center;
}
.first .leftText .buttons{
    padding-top: 3%;
}
.buttons .A,.B{
    width: 95px;
    height: 40px;
}
.buttons .A:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.buttons .B:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
}
@media only screen and (min-width:360px){
    .first{
        padding-top: 4%;
    }
    #menu,#Close{
        margin-right: 52px;
    }
    .img{
        height: 210px;
        width: 250px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 147%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 108%;
    text-align: left;
    width: 85%;
    text-align: center;
}
.first .leftText .buttons{
    padding-top: 3%;
}
.buttons .A,.B{
    width: 95px;
    height: 60px;
    font-size: 95%;
}
}
@media only screen and (min-width:360px) and (min-height:248px) {
    .first{
        padding-top:94%;
    }
    #menu,#Close{
        margin-right: 52px;
    }
    .img{
        height: 180px;
        width: 250px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 124%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 90%;
    text-align: left;
    width: 85%;
    text-align: center;
}
.first .leftText .buttons{
    padding-top: 3%;
}
.buttons .A,.B{
    width: 95px;
    height: 60px;
    font-size: 95%;
}
}
@media only screen and (min-width:360px) and (min-height:524px){
    .first{
        padding-top: 25%;
    }
    #menu,#Close{
        margin-right: 52px;
    }
    .img{
        height: 195px;
        width: 240px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 130%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 95%;
    text-align: left;
    width: 85%;
    text-align: center;
}
.first .leftText .buttons{
    padding-top: 3%;
    margin-top: -5px;
}
.buttons .A,.B{
    width: 99px;
    height: 45px;
    font-size: 95%;
}
}
@media only screen and (min-width:360px) and (min-height:567px){
.first{
        padding-top: 27%;
    }
}
@media only screen and (min-width:360px) and (min-height:640px){
    .first .leftText #paragraph{
        padding-top: 16px;
    }
    .first .leftText .buttons{
        padding-top: 20px;
    }
}
@media only screen and (min-width:360px) and (min-height:740px){
    #logo{
        margin-left: -120px;
    }
    .first{
        padding-top: 25%;
    }
    .img{
        height: 260px;
        width: 263px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 160%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 110%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 10px;
    }
    .first .leftText .buttons{
        padding-top: 8%;
    }
    .buttons .A,.B{
        width: 140px;
        height: 58px;
        font-size: 140%;
    }
}
@media only screen and (min-width:375px) {
    #logo{
        margin-left: -130px;
    }
    #menuop li a{
    font-size: 35px;
    }
    #menu,#Close{
        margin-right: 45px;
    }
    .first{
        padding-top: 25%;
    }
    .img{
        height: 230px;
        width: 270px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 115%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 95%;
}
.buttons .A,.B{
    width: 115px;
    height: 50px;
    font-size: 90%;
    margin-top: -8px;
}
}
@media only screen and (min-width:375px) and (min-height:640px){
    .first{
        padding-top: 16%;
    }
    .first .leftText h1{
        font-size: 145%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 106%;
        text-align: left;
        width: 85%;
        text-align: center;
    }
    .first .leftText .buttons{
        padding-top: 3%;
    }
}
@media only screen and (min-width:390px){
    #logo{
        width: 160px;
        height: 75px;
        margin-left: -110px;
    }
    #menu,#Close{
        width: 33px;
        height: 33px;
        top: 21px;
        margin-right: 55px;
    }
    .first{
        padding-top: 20%;
    }
    .img{
        height: 200px;
        width: 250px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 105%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 82%;
        width: 85%;
        text-align: center;
        padding-top: 10px;
    }
    .first .leftText .buttons{
        padding-top: 8%;
    }
    .buttons .A,.B{
        width: 100px;
        height: 40px;
        font-size: 75%;
    }
}
@media only screen and (min-width:390px) and (min-height:844px) {
    #logo{
        margin-left: -130px;
    }
    .first{
        padding-top: 10%;
    }
    .img{
        height: 280px;
        width: 280px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 130%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 20px;
    }
    .first .leftText .buttons{
        padding-top: 12%;
    }
    .buttons .A,.B{
        width: 140px;
        height: 68px;
        font-size: 145%;
    }
}
@media only screen and (min-width:393px) and (min-height:786px) {
    #logo{
        margin-left: -130px;
    }
    .first{
        padding-top: 15%;
    }
    .img{
        height: 250px;
        width: 280px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 130%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 20px;
    }
    .first .leftText .buttons{
        padding-top: 12%;
    }
    .buttons .A,.B{
        width: 140px;
        height: 68px;
        font-size: 125%;
    }
}
@media only screen and (min-width:412px) and (min-height:310px) {
    .first{
        padding-top: 98%;
    }
    .img{
        height: 250px;
        width: 300px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 150%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 105%;
    text-align: left;
    width: 85%;
    text-align: center;
    padding-top: 1px;
}

.first .leftText .buttons{
    padding-top: 4%;
}
.buttons .A,.B{
    width: 150px;
    height: 60px;
    font-size: 128%;
}
}
@media only screen and (min-width:412px) and (min-height:524px){
    .first{
        padding-top: 9%;
    }
    .img{
        height: 180px;
        width: 240px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 120%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 80%;
    text-align: left;
    width: 85%;
    text-align: center;
    padding-top: 1px;
}

.first .leftText .buttons{
    padding-top: 4%;
}
.buttons .A,.B{
    width: 100px;
    height: 40px;
    font-size: 78%;
}
}
@media only screen and (min-width:412px) and (min-height:604px) {
    #menu,#Close{
        margin-right: 45px;
    }
    .first{
        padding-top: 28%;
    }
    .img{
        height: 250px;
        width: 300px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 150%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 105%;
    text-align: left;
    width: 85%;
    text-align: center;
    padding-top: 1px;
}

.first .leftText .buttons{
    padding-top: 4%;
}
.buttons .A,.B{
    width: 150px;
    height: 60px;
    font-size: 128%;
}
}
@media only screen and (min-width:412px) and (min-height:660px) {
    #logo{
        width: 194px;
        height: 70px;
        margin-left: -130px;
    }
    #menu,#Close{
        width:33px;
        height: 33px;
        top: 25px;
        margin-right: 44px;
    }
    .first{
        padding-top: 39%;
    }
    .img{
        height: 250px;
        width: 315px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 155%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 125%;
    text-align: left;
    width: 85%;
    text-align: center;
}

.first .leftText .buttons{
    padding-top: 4%;
}
.buttons .A,.B{
    width: 150px;
    height: 60px;
    font-size: 128%;
}
.buttons .A:hover{
    transform: translateY(-10px);
}
.buttons .B:hover{
    transform: translateY(-10px);
}
}
@media only screen and (min-width:412px) and (min-height:732px){
    .first{
        margin-top: 70px;
    }
    .img{
        height: 250px;
        width: 315px;
        border-radius: 10px;
    }
.first .leftText h1{
    font-size: 10%;
    font-weight: 900;
}
.first .leftText #paragraph{
    font-size: 125%;
    text-align: left;
    width: 85%;
    text-align: center;
}

.first .leftText .buttons{
    padding-top: 4%;
}
.buttons .A,.B{
    width: 150px;
    height: 60px;
    font-size: 128%;
}
.buttons .A:hover{
    transform: translateY(-10px);
}
.buttons .B:hover{
    transform: translateY(-10px);
}
}
@media only screen and (min-width:412px) and (min-height:727px) {
    .first{
        padding-top: 15%;
    }
    .first .leftText h1{
        font-size: 195%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 170%;
        text-align: left;
        width: 85%;
        text-align: center;
    }
    .first .leftText .buttons{
        padding-top: 3%;
    }
}
@media only screen and (min-width:412px) and (min-height:732px) {
    .first{
        padding-top: 36%;
    }
    .first .leftText h1{
        font-size: 195%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 105%;
        text-align: left;
        width: 85%;
        text-align: center;
    }
    .first .leftText .buttons{
        padding-top: 3%;
    }
    .buttons .A,.B{
        width: 150px;
        height: 60px;
        font-size: 145%;
    }
}
@media only screen and (min-width:412px) and (min-height:915px){
    .first{
        padding-top: 10%;
    }
    .first .leftText h1{
        font-size: 195%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 190%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 14px;
    }
    .first .leftText .buttons{
        padding-top: 9%;
    }
}
@media only screen and (min-width:412px) and (min-height:732px) {
    .first{
        padding-top: 1%;
    }
    .first .leftText h1{
        font-size: 195%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 120%;
        text-align: left;
        width: 85%;
        text-align: center;
    }
    .first .leftText .buttons{
        padding-top: 7%;
    }
    .buttons .A,.B{
        width: 150px;
        height: 60px;
        font-size: 145%;
    }
}
@media only screen and (min-width:414px){
    .first{
        padding-top: 25%;
    }
    .img{
        height: 200px;
        width: 245px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 125%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 89%;
        width: 85%;
        text-align: center;
        padding-top: 10px;
    }
    .first .leftText .buttons{
        padding-top: 4%;
    }
}
@media only screen and (min-width:414px) and (min-height:896px) {
    .first{
        padding-top: 1%;
    }
    .img{
        height: 280px;
        width: 318px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 137%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 9px;
    }
    .first .leftText .buttons{
        padding-top: 8%;
    }
    .buttons .A,.B{
        width: 150px;
        height: 68px;
        font-size: 145%;
    }
}
@media only screen and (min-width:425px) and (min-height:524px){
    #logo{
        margin-right: -10px;
    }
    #menu,#Close{
        margin-left:80px;
    }
}
@media only screen and (min-width:430px){
    #logo{
        margin-right: -10px;
    }
    #menu,#Close{
        margin-left:80px;
    }
    .first{
        padding-top: 20%;
    }
    .img{
        height: 200px;
        width: 255px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 100%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 80%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 0px;
    }
    .first .leftText .buttons{
        padding-top: 6%;
    }
    .buttons .A,.B{
        width: 110px;
        height: 50px;
        font-size: 95%;
    }
}
@media only screen and (min-width:430px) and (min-height:932px){
    #logo{
        margin-left: -130px;
    }
    .first{
        padding-top: 1%;
    }
    .img{
        height: 280px;
        width: 320px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 135%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 20px;
    }
    .first .leftText .buttons{
        padding-top: 12%;
    }
    .buttons .A,.B{
        width: 140px;
        height: 68px;
        font-size: 145%;
    }
}
@media only screen and (min-width:600px) and (min-height:960px) {
    #logo{
        width: 240px;
        height: 86px;
        margin-right: 27px;
    }
    #menu,#Close{
        width:45px;
        height: 45px;
        margin-right: 100px;
    }
    .first{
        padding-top: 1%;
    }
    .img{
        height: 310px;
        width: 385px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 180%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 150%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 8px;
    }
    .first .leftText .buttons{
        padding-top: 6%;
    }
    .buttons .A,.B{
        width: 140px;
        height: 70px;
        font-size: 135%;
    }
}
@media only screen and (min-width:600px) and (min-height:1024px) {
    #logo{
        width: 240px;
        height: 86px;
        margin-right: 27px;
    }
    #menu,#Close{
        width:45px;
        height: 45px;
        margin-right: 100px;
    }
    .first{
        padding-top: 18%;
    }
    .img{
        height: 210px;
        width: 255px;
        border-radius: 10px;
    }
    .first .leftText h1{
        font-size: 110%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 90%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 3px;
    }
    .first .leftText .buttons{
        padding-top: 3%;
    }
    .buttons .A,.B{
        width: 110px;
        height: 50px;
        font-size: 95%;
    }
}
@media only screen and (min-width:768px) {
    header nav{
        display: flex;
        justify-content: center;
        align-items:self-end
    }
    #logo{
        float: left;
        margin-left: 5px;
        width: 200px;
        height: 76px;
        margin-top: 19px;
    }
    #menuop{
        display: block;
        margin-left: -150px;
        display: flex;
        gap: 24px;
        margin-top: 25px;
    }
    #menuop li a{
        font-size: 18px;
    }
    #menu,#close{
        display: none;
    }
    #whitemode{
        width:32px;
        height:32px;
    }
    #darkmode{
        margin-left: -40px;
        width:32px;
        height:32px;
    }
    #Sub{
        display: block;
        margin-right: 10px;
    }
    .first{
        padding-top: 18%;
    }
    .img{
        height: 310px;
        width: 355px;
        border-radius: 10px;
        float: right;
        margin-right: 10px;
    }
    .first .leftText{
        margin-right: 340px;
        margin-top: -11px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
    }
    .first .leftText #paragraph{
        font-size: 130%;
        text-align: left;
        width: 85%;
        text-align: center;
        padding-top: 9px;
    }
    .first .leftText .buttons{
        padding-top: 8%;
        gap:12px;
    }
    .buttons .A,.B{
        width: 150px;
        height: 70px;
        font-size: 150%;
    }
}
@media only screen and (min-width:1024px) {
    header nav{
        display: flex;
        justify-content: center;
        align-items:self-end
    }
    #logo{
        float: left;
        margin-left: 90px;
        width: 200px;
        height: 76px;
        margin-top: 19px;
    }
    #menuop{
        display: block;
        margin-left: -150px;
        display: flex;
        gap: 24px;
        margin-top: 25px;
    }
    #menuop li a{
        font-size: 18px;
    }
    #menu,#close{
        display: none;
    }
    #whitemode{
        width:32px;
        height:32px;
    }
    #darkmode{
        margin-left: -40px;
        width:32px;
        height:32px;
    }
    #Sub{
        display: block;
        margin-right: 60px;
    }
    .first{
        padding-top: 12%;
    }
    .img{
        height: 330px;
        width: 370px;
        border-radius: 18px;
        float: right;
        margin-right: 65px;
        margin-top: -10px;
    }
    .first .leftText{
        margin-right: 100px;
        margin-top: -11px;
    }
    .first .leftText h1{
        font-size: 170%;
        font-weight: 900;
        margin-right: 210px;
    }
    .first .leftText #paragraph{
        font-size: 130%;
        width: 70%;
        text-align: center;
        padding-top: 9px;
        margin-left: 1px;
    }
    .first .leftText .buttons{
        padding-top: 4%;
        margin-right: 180px;
        gap: 12px;
    }
    .buttons .A,.B{
        width: 150px;
        height: 70px;
        font-size: 130%;
    }
}
@media only screen and (min-width:1272px){
    .first{
        padding-top: 7%;
    }
    .first .leftText{
        margin-right: 370px;
        margin-top: -11px;
    }
    .first .leftText h1{
        font-size: 210%;
        font-weight: 900;
        margin-right: 210px;
    }
    .first .leftText #paragraph{
        font-size: 130%;
        width: 60%;
        text-align: center;
        padding-top: 9px;
        margin-right: 50px;
    }
    .first .leftText .buttons{
        padding-top: 4%;
        margin-right: 180px;
    }
    .buttons .A,.B{
        width: 150px;
        height: 56px;
        font-size: 130%;
    }
    .img{
        height: 330px;
        width: 370px;
        margin-right: 165px;
        margin-top: -10px;
    }
}
@media only screen and (min-width:1440px) {
    #logo{
        margin-left: 150px;
        margin-top: 19px;
    }
    #menuop{
        display: block;
        margin-left: -150px;
        display: flex;
        gap: 24px;
        margin-top: 25px;
    }
    #menuop li a{
        font-size: 22px;
    }
    .first{
        padding-top: 15%;
    }
    .img{
        width: 400px;
        height: 350px;
        margin-right: 165px;
        margin-top: -10px;
    }
    .first .leftText{
        margin-right: 400px;
        margin-top: -18px;
    }
    .first .leftText h1{
        font-size: 205%;
        font-weight: 900;
        margin-right: 210px;
    }
    .first .leftText #paragraph{
        font-size: 200%;
        width: 60%;
        text-align: center;
        padding-top: 9px;
        margin-left: 0px;
    }
    .first .leftText .buttons{
        padding-top: 2%;
        margin-right: 180px;
        gap: 12px;
    }
    .buttons .A,.B{
        width: 150px;
        height: 70px;
        font-size: 130%;
    }
}
@media only screen and (min-width:2550px) {
    #logo{
        margin-left: 500px;
        margin-top: 19px;
        width: 300px;
        height: 106px;
    }
    #menuop{
        display: block;
        margin-left: -150px;
        display: flex;
        gap: 24px;
        margin-top: 25px;
    }
    #menuop li a{
        font-size: 38px;
    }
    #Sub{
        margin-right: 110px;
        font-size: 230%;
    }
    .first{
        padding-top: 10%;
    }
    .img{
        width: 520px;
        height: 370px;
        margin-right: 165px;
        margin-top: -10px;
    }
    .first .leftText{
        margin-right: 400px;
        margin-top: -1px;
    }
    .first .leftText h1{
        font-size: 205%;
        font-weight: 900;
        margin-right: 210px;
    }
    .first .leftText #paragraph{
        font-size: 200%;
        width: 60%;
        text-align: center;
        padding-top: 9px;
        margin-left: 0px;
    }
    .first .leftText .buttons{
        padding-top: 2%;
        margin-right: 180px;
        gap: 12px;
    }
    .buttons .A,.B{
        width: 150px;
        height: 70px;
        font-size: 130%;
    }
}
