html{
    scroll-behavior: smooth;
}
body::before{
    display: block;
    content: '';
    height: 70px;
}
#home::before{
    display: block;
    content: '';
    height: 30px;
}
.nav-link{
    color: aliceblue;
    font-size: 125%;
}
.Mode{
    width: 11%;
    animation: turn 3s ease infinite;
}
@keyframes turn {
    20%{transform: rotate(20deg);}
    40%{transform: rotate(80deg);}
    60%{transform: rotate(140deg);}
    80%{transform: rotate(200deg);}
    100%{transform: rotate(0deg);}
}
.g{
    padding-top: 20px;
}
.parafather{
    flex-direction: column;
    overflow: hidden;
    height: 22%;
}
.parachildren{
    flex-direction: column;
    gap: 30px;
    height: 22%;
    animation: words 19s ease infinite;
}
#servicos::before{
display: block;
content: '';
height: 65px;
}
.paraserv{
    font-weight: bold;
}
#comentarios::before{
    display: block;
    content: '';
    height: 65px;
    }
    .addcomment{
        margin-bottom: 10px;
    }
    #addcomment{
        background-color: rgb(43, 35, 35);
    }
    #addcomment::before{
        display: block;
        content: '';
        height: 65px;
        }
    .chooseicon{
        border: 1px solid goldenrod;
        border-radius: 100%;
        padding: 1%;
    }
@media screen and (min-width:425px) and 
(height:565px){
    .parafather{
        height: 100px;
        border: 2px solid red;
    }
}
@media only screen and (max-width:575px){
    .serv{
        padding-top: 50px;
    }
.parafather{
    height: 100px;
}
@keyframes words{
    0%{transform: translateY(0px);}
    10%{transform: translateY(0px);}
    20%{transform: translateY(0px);}
    30%{transform: translateY(0px);}
    40%{transform: translateY(0px);}
    50%{transform: translateY(0px);}
    60%{transform: translateY(-100px);}
    70%{transform: translateY(-100px);}
    80%{transform: translateY(-100px);}
    90%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
}
@media only screen and (min-width:576px){
.parafather{
    height: 105px;
}
@keyframes words{
    0%{transform: translateY(0px);}
    10%{transform: translateY(0px);}
    20%{transform: translateY(0px);}
    30%{transform: translateY(0px);}
    40%{transform: translateY(0px);}
    50%{transform: translateY(0px);}
    60%{transform: translateY(-100px);}
    70%{transform: translateY(-100px);}
    80%{transform: translateY(-100px);}
    90%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
}
@media only screen and (min-width:768px){
.parafather{
    height: 70px;
}
@keyframes words{
    0%{transform: translateY(0px);}
    10%{transform: translateY(0px);}
    20%{transform: translateY(0px);}
    30%{transform: translateY(0px);}
    40%{transform: translateY(0px);}
    50%{transform: translateY(0px);}
    60%{transform: translateY(-73px);}
    70%{transform: translateY(-73px);}
    80%{transform: translateY(-73px);}
    90%{transform: translateY(-73px);}
    100%{transform: translateY(0px);}
}
}
@media only screen and (min-width:992px){
    .parafather{
        height: 22%;
    }
@keyframes words{
    0%{transform: translateY(0px);}
    10%{transform: translateY(0px);}
    20%{transform: translateY(0px);}
    30%{transform: translateY(0px);}
    40%{transform: translateY(0px);}
    50%{transform: translateY(0px);}
    60%{transform: translateY(-80px);}
    70%{transform: translateY(-80px);}
    80%{transform: translateY(-80px);}
    90%{transform: translateY(-80px);}
    100%{transform: translateY(0px);}
}
}
@media only screen and (max-width:575px){
    .golden{
        margin-top: 10px;
    }
    .input1{
        width: 50%;
    }
}
@media only screen and (min-width:992px){
    .left{
        padding-left: 40px;
    }
}